body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.container {

    margin-left: 5%;
    margin-right: 5%;

}

.arrange-left {
    float: left;
}

.width-25 {
    width: 25%;
}

.width-50 {
    width: 50%;
}

.common_btn {
    height: 40px;
    border: 1px solid #ddd;
    color: #D9A196;
    border-radius: 0;
    background-color: #fff;
    min-width: 40px;
    text-align: center;
    margin-right: 10px;


}

.common_btn span {
    font-size: 16px;
    font-weight: 800;

}
.common_btn span i{
    padding-left:5px;
    padding-right:5px;
}
.next-row{
    clear: both;
}
.category-list ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    border:1px solid #dddd;

}
.category-list ul li{
    border-bottom: 1px solid #ddd;
    padding: 10px 40px;
}
.category-list ul a{
    color:rgba(0,   0, 0, 0.8);
    text-decoration: none;
}


