.logo h1 {
    font-size: 40px;
    font-weight: 400px;
    margin: 0px;
}

.header {
    margin-top: 25px;
    min-height: 60px;

}

.logo h1 span:first-of-type {
    padding: 0 12px;
    border: 1px solid #ddd;
    color: #D9A196;
    margin-right: 5px;
}

.search-product input {
    width: 70%;
    height: 38.4px;
    border-radius: 0;
    border: 1px solid #ddd;
    padding: 0 0 0 10px;
    font-size: 18px;
    border-right: none;

}
.search-product input:focus {
       outline: none;
}

.search-product button {
    height: 40px;
    font-size: 18px;
    border-radius: 0;
    border: 1px solid #ddd;
    margin-left: -6px;
    padding: 0 2px 0 2px;
    color: #D9A196;
    background-color: #fff;
}

.selected-product {
    text-align: right;
    
}
.full-banner-container{
    border-top:1px solid #ddd;
}
.list-header{
    height:65px;
    background-color: #D9A196;
}
.list-header h4{
    display: inline-block;
    margin-left: 40px;
    margin-right:40px;
    font-weight: 500px;
}
.list-header span{
    float: right;
    padding: 28px;
}
.shop-menu{
   display: flex;
}
.left-menu-list{
    width: 70%;
    float:left;
}
.right-menu-list{
    width:30%;
    direction: rtl;
}

.dropdown-head:hover ul.dropdown {
       display: block;
}